<h2 class="cards-section-title">Most popular shows</h2>
<section class="card-wrapper">
    <article class="card" *ngFor="let show of popularShows">
        <a [routerLink]="'show/' + show.id">
            <img class="card__img" 
                src="{{show.image?.medium.replace('http:', 'https:') || 'assets/no-img-portrait-text.png'}}" 
                alt="{{show.name}}" />
        </a>
        <header class="card__header">
            <h3 class="card__title">
                <a [routerLink]="'show/' + show.id">{{show.name}}</a>
            </h3>
        </header>
    </article>
</section>

<h2 class="cards-section-title">Last visited</h2>
<section class="card-wrapper" *ngIf="lastVisitedShows">
    <article class="card" *ngFor="let data of lastVisitedShows">
        <a [routerLink]="'show/' + data.id">
            <img class="card__img" 
                src="{{data.image?.medium.replace('http:', 'https:') || 'assets/no-img-portrait-text.png'}}" 
                alt="{{data.name}}" />
        </a>
        <header class="card__header">
            <h3 class="card__title">
                <a [routerLink]="'show/' + data.id">{{data.name}}</a>
            </h3>
        </header>
    </article>
</section>